{% extends "layout.twig" %}
{% block title %}Index{% endblock %}
{% block main %}
    <div class="container">
        <h1>The Epistles of Paul</h1>
        <p>
            <a href="?start" class="button action-page" data-target="viewer"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 28' height="1.25rem" fill="white"><path d='M21.625 14.484l-20.75 11.531c-0.484 0.266-0.875 0.031-0.875-0.516v-23c0-0.547 0.391-0.781 0.875-0.516l20.75 11.531c0.484 0.266 0.484 0.703 0 0.969z'></path></svg> Start</a>
            &nbsp;
            <a href="?help" class="button button-light action-page" data-target="help"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 28' height="1.25rem"><path d='M11 19.625v3.75c0 0.344-0.281 0.625-0.625 0.625h-3.75c-0.344 0-0.625-0.281-0.625-0.625v-3.75c0-0.344 0.281-0.625 0.625-0.625h3.75c0.344 0 0.625 0.281 0.625 0.625zM15.937 10.25c0 2.969-2.016 4.109-3.5 4.937-0.922 0.531-1.5 1.609-1.5 2.063v0c0 0.344-0.266 0.75-0.625 0.75h-3.75c-0.344 0-0.562-0.531-0.562-0.875v-0.703c0-1.891 1.875-3.516 3.25-4.141 1.203-0.547 1.703-1.062 1.703-2.063 0-0.875-1.141-1.656-2.406-1.656-0.703 0-1.344 0.219-1.687 0.453-0.375 0.266-0.75 0.641-1.672 1.797-0.125 0.156-0.313 0.25-0.484 0.25-0.141 0-0.266-0.047-0.391-0.125l-2.562-1.953c-0.266-0.203-0.328-0.547-0.156-0.828 1.687-2.797 4.062-4.156 7.25-4.156 3.344 0 7.094 2.672 7.094 6.25z'></path></svg> Help</a>
        </p>

        <p>
            Welcome to the world of second century C.E. Egypt. This app 
            will allow you to leaf through pages of the world's oldest
            existing manuscript of the letters of St. Paul (P.Mich inv. 6238,
            also known in New Testament scholarship as P46). Thirty leaves
            of this manuscript, written in about 200 C.E., were found in Egypt
            and purchased by the University of Michigan Papyrology Collection 
            in 1931 and 1933 (another 56 leaves, not included in this app,
            are found in the Chester Beatty Library, Dublin; 18 leaves 
            are missing completely).
        </p>
        <p>
            This app will give you the feel of what it was like reading an
            ancient Greek book on papyrus where the text is written
            without word division, punctuation, headings, or chapter and
            verse numbers. To aid the reader without knowldge of ancient
            Greek the translation mode will give a literal translation of the
            Greek text preserved on these pages (with addiiton of chapter 
            and verse numbers), with explanatory notes showing where this
            text is different from the Standard text.
        </p>
    </div>
{% endblock %}