* {
  box-sizing: border-box;
}

@import "../../vendor/falafel/stylesheets/main";
@import "./modules/accordion";
@import "./modules/leaflet.draw";
@import "./modules/easy-button";
@import "../../vendor/bigfoot/dist/bigfoot-number";

.fa.fa-1_8x {
  font-size: 1.8em;
}

.jBox-Confirm .jBox-content {
  padding: 10px 8px;
}

.jBox-overlay {
  background-color: rgba(0,0,0,0);
}

.panel.footnote-print-only {
  display: flex !important;

  ol.footnote-print-only {
    display: block !important;
    li {
      display: list-item !important;
    }
  }
}

textarea {
  font-family: Consolas, monospace;
  font-size: 1rem;
  width: 100%;
}

pre {
  font-family: Consolas, monospace;
}

.offscreen {
  display: none; // FIXME
}

button.dirty {
  background-color: orangered;
  color: white;
}

button.ready {
  background-color: greenyellow;
  // color: white;
}

.modal-form {
  textarea {
    width: 100%;
    min-height: 100px;
  }
}

.site-header {
  background: black;
}

#sidebar {
  max-width: 40vw;
  flex-shrink: 1;
}

.panels--scan {
  width: 60vw;

  // svg path.highlight { visibility: hidden; }

  svg path.highlight:hover, svg path.highlight:focus, svg path.focused {
    stroke-width: 8px !important;
    fill: #000;
    stroke:#8fbc8f !important;
  }

  svg path.highlight.pulse {
    animation: pulse2 1s 5;
  }
}

.group-annotations {

  li {

    span {
      border: 1px solid transparent;
      border-left: 1rem solid transparent;
      padding: 1px;
      padding-left: 4px;
    }

    &.pulse {
      span {
        animation: pulse 1s 5;
      }
    }

    &.focused span, &[id]:hover span {
      // border-left: 1rem solid darkseagreen;
      // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
      // background-color: #eee;
      // color: #333;

      background: rgba(255,255,255,0.85);
      // 143,188,143
      // box-shadow: 0 2px 6px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
      box-shadow: 0 2px 6px rgba(143,188,143,0.24), 0 1px 2px rgba(143,188,143,0.48);
      // border-radius: 4px;
      border-left: 1rem solid #8fbc8f;
      color: #333;

      .footnote--link {
        color: #333;
      }
    }
  }
}

$color_pulse: #7FFF00;
@keyframes pulse {
  0% {
    border-top-color: rgba($color_pulse, 0);
    border-left-color: rgba($color_pulse, 0);
    border-right-color: rgba($color_pulse, 0);
    border-bottom-color: rgba($color_pulse, 0);
    background-color: rgba($color_pulse, 0);
  }
  50% {
    border-top-color: rgba($color_pulse, 0.75);
    border-left-color: rgba($color_pulse, 0.75);
    border-right-color: rgba($color_pulse, 0.75);
    border-bottom-color: rgba($color_pulse, 0.75);
    background-color: rgba($color_pulse, 0.75);
  }
  100% {
    border-top-color: rgba($color_pulse, 0);
    border-left-color: rgba($color_pulse, 0);
    border-right-color: rgba($color_pulse, 0);
    border-bottom-color: rgba($color_pulse, 0);
    background-color: rgba($color_pulse, 0);
  }
}

@keyframes pulse2 {
  0% {
    fill: $color_pulse;
    fill-opacity: 0;
  }
  50% {
    fill: $color_pulse;
    fill-opacity: 0.75;
  }
  100% {
    fill: $color_pulse;
    fill-opacity: 0;
  }
}

// GRID

.box {
}

.box__1 {
  display: flex;
  height: calc(100vh - 64px);
  width: 100vw;
}

.box__1_2 {
  flex-grow: 1;
}

.box__1_3 {
  display: flex;
  flex-direction: column;
}

.group ul {
  list-style: none;
  margin: 0;

  li {
    margin-top: 0;
    border-bottom: 1px dotted #abab;

    span {
      display: block;
    }
  }
}

// RESULTS

table.results {
  border: 1px solid transparent;
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  tbody {
    tr:nth-child(odd) {
      background-color: #fbfbfb;
    }

    tr {
      td.thumbail {
        border-left: 4px solid transparent;
      }
    }

    tr.missing {
      td.thumbnail {
        border-left: 4px solid #666;
      }
    }

    tr.draft {
      td.thumbnail {
        border-left: 4px solid red;
      }
    }

  }
  td {
    vertical-align: top;
    ul {
      margin: 0;
      list-style-type: none;

      li:first-child {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 80em) {
  .container {
    width: 80rem;
    max-width: 80rem;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 96rem;
  }
}