{% extends "layout.twig" %}
{% block title %}Login{% endblock %}
{% block main %}
    <div class="container">
        <h1>Please login</h1>
        <p>
            You need to be authenticated to use the translation editor.
        </p>
        <p>
            <a class="button" href="https://{{ app.request.getHttpHost() }}/cgi/dlxslogin?target={{ app.request.getUri() }}">Log in</a>
        </p>
    </div>
{% endblock %}